/*-----------------------------------------------
*   Base
-----------------------------------------------*/
html {
	height: 100%;
}

body {
	height: 100%;
	font-family: Helvetica, Arial, sans-serif;
	margin: 0;
}

a {
	font-size: .8em;
	text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/*-----------------------------------------------
*   Navigation
-----------------------------------------------*/
nav {
  float: right;
  margin: 1em 0;
}

.nav {
	float: right;
	margin: 0;
	padding: 0;
}

.nav li {
	display: inline-block;
	margin-left: 1em;
}

.nav:last-child {
	margin-right: 1.8em;
}

.nav a {
	color: #444;
	font-weight: lighter;
}

#sign-in {
	background-color: #4285F4;
	border: .2em solid #4285F4;
	border-radius: .25em;
	color: #FFF;
	font-size: .8em;
	font-weight: bold;
	padding: .6em 1em;
}

#sign-in:focus {
	outline: none;
}

/*-----------------------------------------------
*   Main
-----------------------------------------------*/
main {
	clear: right;
	margin: 0 auto;
	text-align: center;
	padding: 8em 0;
}

/*-----------------------------------------------
*   Search Form
-----------------------------------------------*/

.form-btn {
	background-color: #F2F2F2;
	border: .025em solid #F2F2F2;
	border-radius: .175em;
	color: #757575;
	font-size: .8em;
	font-weight: bold;
	margin: 0 .25em;
	padding: .9em 1.2em;
}

.form-btn:hover {
	background-color: #F8F8F8;
	border: .025em solid #C6C6C6;
	color: #222;
}

input[type=search]{
	border: .025em solid #D9D9D9;
	border-radius: 0;
	height: 2.5em;
	margin: 1.75em 0;
	padding: .75em;
	width: 33em;
}

input:focus, button:focus {
  border: .025em solid #FFF;
  border-radius: 0;
	outline: .025em solid #4285F4;
}

/*-----------------------------------------------
*   Footer
-----------------------------------------------*/

footer {
	background-color: #F2F2F2;
	border-top: .025em solid #D9D9D9;
	padding: 1em;
	position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.footer {
	margin: 0;
	padding: 0;
}

.lt-lnks {
	float: left;
}

.rt-lnks {
	float: right;
}

.footer li{
  display: inline-block;
  padding-right: 1em;
}

.footer a {
	color: #757575;
}




